<div class="col-sm-6 col-md-4 col-lg-3 wigd" id="widget_<%= widget.id %>">
  <div class="widget-wrapper">
    <div class="widget-main">
      <div class="widget-header">
        <div class="ribbon widget-kind">
          <span><%= widget.kind %></span>
        </div>
        <% if widget.owner %>
          <%= link_to_if(widget.owner, '<i class="far fa-edit"></i>'.html_safe, edit_widget_path(widget.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: "edit-widget") %>
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, widget_path(widget.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: "delete-widget" %>
        <% end %>
        <i class="fas fa-cloud"></i>
      </div>
      <div class="widget-name">
        <%= widget.name %>
      </div>
      <div class="widget-desc">
        <p><%= widget.description %></p>
      </div>
      <div class="widget-user">
        <span class="created-by">Created By </span>
        <% if widget.owner %>
          <%= link_to widget.user_name, me_path %>
        <% else %>
          <%= link_to widget.user_name, user_path(widget.user["id"]) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
