<% if @must_login %>
  <div class="need_login">
    <p>You need to 
      <%= link_to "Sign Up",
                  signup_path,
                  rel: "modal:open" %>
      or 
      <%= link_to "Sign In",
                  login_path,
                  rel: "modal:open" %>
      to contine </p>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= link_to "New Widget",
                    new_widget_path,
                    class: "btn btn-primary new_widget_btn",
                    rel: "modal:open" %>
      </div>
      <div class="col-sm-12 col-md-6 search_col">
        <%= render "widgets_search" %>
      </div>
    </div>
  </div>
  <div class="row all-widgets">
    <% if @widgets.any? %>
      <%= render partial: "widget", collection: @widgets %>
    <% else %>
      <div class="no_widgets container">
        <p> You don't have any widgets yet , start by creating one</p>
      </div>
    <% end %>
  </div>
<% end %>
